---
###############################################################
#                   Authelia configuration                    #
###############################################################

# This secret can also be set using the env variables AUTHELIA_JWT_SECRET_FILE
jwt_secret: yKoJddqzKVY2zvmVBAtiKYFSyqgq3cYo9y4uZDMg5az3mjzLcYVJnWH75vqjzDzQ
default_redirection_url: https://auth.{{ public_domain }}

server:
  host: 0.0.0.0
  port: 9091

log:
  level: info

totp:
  issuer: {{ public_domain }}

# duo_api:
#  hostname: api-123456789.example.com
#  integration_key: ABCDEF
#  # This secret can also be set using the env variables AUTHELIA_DUO_API_SECRET_KEY_FILE
#  secret_key: 1234567890abcdefghifjkl

authentication_backend:
  file:
    path: /config/users_database.yml

access_control:
  default_policy: two_factor
  rules:
    - domain: jellyfin.{{ public_domain }}
      policy: bypass
    - domain: "sabnzbd.{{public_domain}}"
      policy: bypass
      resources:
        - '^/sabnzbd/api'
    - domain: "stash.{{public_domain}}"
      policy: bypass
      resources:
        - '^\/scene\/\d+\/screenshot\?t=\d+'
        - '^\/scene\/\d+\/stream'
    - domain: "*.{{ public_domain }}"
      policy: two_factor

session:
  name: authelia_session
  domain: {{ public_domain }}
  same_site: lax
  secret: j97PjFn8LczPfq4HKMrckR3WzsgZPYhaD92Q3hzE7Es5wUmG8csEucE8cHTWLMMV
  expiration: 1h
  inactivity: 5m
  remember_me_duration:  1M


#  redis:
#    host: redis
#    port: 6379
#    # This secret can also be set using the env variables AUTHELIA_SESSION_REDIS_PASSWORD_FILE
#    # password: authelia

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  encryption_key: i3M8CoSKw2axy9Q7GL74jTHCu3yY5XdKDJLrmxSxM5YDwE6qs5z8k7qTCmzLD4zx
  local:
    path: /config/db.sqlite3

notifier:
  disable_startup_check: false
  filesystem:
    filename: /config/notification.txt
